@font-face {
	font-family: "Bebas Neue";
	src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
		url('../fonts/BebasNeue-Regular.woff') format('woff');
}

@font-face{
	font-family:"suisse";
	font-display:swap;
	src:url("../fonts/SuisseIntl-Book-WebS.woff2") format("woff2"), url("../fonts/SuisseIntl-Book-WebS.woff") format("woff");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:"suisse";
	font-display:swap;
	src:url("../fonts/SuisseIntl-Book-WebM.woff2") format("woff2"),
	url("../fonts/SuisseIntl-Book-WebM.woff") format("woff");
	font-weight:700;
	font-style:normal
}
@font-face{
	font-family: "suisse";
	font-display:swap;
	src:url("../fonts/SuisseIntl-Book-WebM.woff2") format("woff2"), url("../fonts/SuisseIntl-Book-WebM.woff") format("woff");
	font-weight:900;
	font-style:normal
}

.font-suisse {
  	font-family: 'suisse', Roboto, sans-serif;
	font-stretch: extra-expanded;
}

.font-bebas {
	font-family: "Bebas Neue", Roboto, sans-serif;
	letter-spacing: 0.1em;
	font-stretch: ultra-expanded;
}
