@font-face {
	font-family: "Bebasneue";
	src: url("../fonts/BebasNeue-Regular.otf");
}

@font-face{
	font-family:"suisse";
	font-display:swap;
	src:url("../font/SuisseIntl-Book-WebS.woff2") format("woff2"), url("../font/SuisseIntl-Book-WebS.woff") format("woff");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:"suisse";
	font-display:swap;
	src:url("../font/SuisseIntl-Book-WebM.woff2") format("woff2"),
	url("../font/SuisseIntl-Book-WebM.woff") format("woff");
	font-weight:700;
	font-style:normal
}
@font-face{
	font-family: "suisse";
	font-display:swap;
	src:url("../font/SuisseIntl-Book-WebM.woff2") format("woff2"), url("../font/SuisseIntl-Book-WebM.woff") format("woff");
	font-weight:900;
	font-style:normal
}
