@import './_fonts.scss';

.acrylic {
  	background: rgba(18,18,18,0.3);
  	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
}

.outlinedText {
  	-webkit-text-stroke: 1px;
  	-webkit-text-fill-color: transparent;
}

.font-suisse {
  	font-family: 'suisse', sans-serif;
	font-stretch: extra-expanded;
}
